{% extends 'user/index.html.twig' %}

{% block body %}
<div id="main">
    <section class="posts">
    {% for article in articles %}
    <article>
        <header>
            <span class="date">{{ article.createAt|date("m/d/Y") }}</span>
            <h2><a href="{{ path('article', {id: article.id} ) }}">{{ article.title }}</a></h2>
        </header>
        <a href="#" class="image fit"><img src="{{ vich_uploader_asset(article, 'imageFile') }}" alt="" /></a>
        <p>Donec eget ex magna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque venenatis dolor imperdiet dolor mattis sagittis magna etiam.</p>
        <ul class="actions special">
            <li><a href="{{ path('article', {id: article.id} ) }}" class="button">Read More</a></li>
        </ul>
    </article>
    {% endfor %}
    </section>
</div>
{% endblock %}